.ContactItem {
    display: flex;
    padding: 10px;
    border-radius: 15px;
}

.ContactItem:hover {
    background-color: var(--primary-light);
    border-radius: 15px;
    cursor: pointer;
}

.ContactItem.Selected {
    background-color: var(--primary-light);
    border-radius: 15px;
}

.ContactItemInfo {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    width: calc(100% - 50px);
}

.LeftContactItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    flex: 1;

    min-width: 0;
}

.RightContactItemInfo {
    position: relative;

    display: flex;
    align-items: flex-start;

    background-color: var(--background);
}

.RightContactItemInfo::before {
    content: "";

    position: absolute;

    top: 0;
    left: -20px;

    width: 20px;
    height: 100%;

    pointer-events: none;

    background: linear-gradient(
        to right,
        transparent,
        var(--background)
    );
}

.ContactItemName {
    color: var(--text-main);
    margin: 0px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 3px;
    flex: 5;
}

.ContactItemTime {
    text-align: right;
    color: var(--text-secondary);
    margin: 0px;
    flex: 1;
    font-size: 14px;
    margin-bottom: 3px;
}

.ContactItemName,
.ContactItemLastMessage {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ContactItemLastMessage {
    color: var(--text-secondary);
    margin: 0px;
    text-align: left;
    font-size: 14px;
}