#LeftSide {
    padding: 10px;
    width: 30vw;
    background-color: var(--bg-support);
}

#LeftTopSide {
    display: flex;
}

#Resizer {
    width: 5px;
    cursor: col-resize;
    background: var(--bg-support);
}

#ContactSearch {
    width: 100%;
}

