#LeftSide {
    padding: 10px;
    width: 30vw;
    background-color: rgba(243, 243, 243, 1);
}

#LeftTopSide {
    display: flex;
}

#Resizer {
    width: 5px;
    cursor: col-resize;
    background: rgba(243, 243, 243, 1);
}

#ContactSearch {
    width: 100%;
}

