.ContactItem {
    display: flex;
    padding: 10px;
}

.ContactItem:hover {
    background-color: rgba(189, 222, 253, 1);
    border-radius: 15px;
    cursor: pointer;
}

.ContactItem.Selected {
    background-color: rgba(189, 222, 253, 1);
    border-radius: 15px;
}

.ContactItemInfo {
    padding-Left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 60px);
}

.TopContactItemInfo {
    display: flex;
}

.ContactItemName {
    color: black;
    margin: 0px;
    text-Align: left;
    font-Size: 16px;
    margin-bottom: 3px;
    flex: 5;
}

.ContactItemTime {
    text-align: right;
    color: #505050FF;
    margin: 0px;
    flex: 1;
    font-Size: 14px;
    margin-bottom: 3px;
}

.ContactItemDesc {
    color: #505050FF;
    margin: 0px;
    text-Align: left;
    font-Size: 14px;
}